<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<p>This is a REST backend, try <a href="/persons">getting a list of the actors</a>.</p>

<p>
    We're using:
<ul>
    <li>nodejs</li>
    <li>express</li>
    <li>mongodb - mongoose</li>
</ul>
</p>

</body>
</html>